header {
  background-color: #fff;
  padding: 10px 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* faz a esquerda, o input e a direita ocuparem toda a largura */
  width: 100%; /* ocupa toda a largura da tela */
}

.icon-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-container {
  position: relative;
  width: 550px; /* largura da barra central */
}

.input-container input {
  width: 100%;
  padding: 6px 30px 6px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.input-container .search-icon {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.icon-right {
  display: flex;
  align-items: center;
  gap: 10px; 
}
