@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Nata+Sans:wght@100..900&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header {
  background-color: #fff;
  padding: 10px 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* faz a esquerda, o input e a direita ocuparem toda a largura */
  width: 100%; /* ocupa toda a largura da tela */
}

.icon-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-container {
  position: relative;
  width: 550px; /* largura da barra central */
}

.input-container input {
  width: 100%;
  padding: 6px 30px 6px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.input-container .search-icon {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.icon-right {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.content-main > p {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;        /* SemiBold */
  font-style: normal;
  font-size: 18px;
  line-height: 100%;       /* equivalente a 20px */
  letter-spacing: 0;
}

.content-main {
  margin-left: 30px;
  margin-top: 20px;
}

.chanel-info {
  display: flex;
  align-items: center;  /* centraliza verticalmente foto e texto */
  gap: 10px;
  margin-top: 10px;
}


.chanel-info .name {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;        /* SemiBold */
  font-style: normal;
  font-size: 14px;
  line-height: 100%;       /* equivalente a 14px */
  letter-spacing: 0;       /* sem espaçamento extra */
  margin: 0 0 2px 0;
}

.chanel-text {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente em relação à foto */
  margin-top: 8px
}

.chanel-info .subscriber {
  font-size: 13px;
  color: #606060;   /* cor mais clara para ficar parecido com o YouTube */
  margin-top: 0;
}

.chanel-info .subscribe {
  background-color: red;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 14px;
  height: 40px;
  width: 159px;
  border: none;
  text-align: center;
  justify-content: center; /* centraliza horizontal */
  align-items: center;     /* centraliza vertical */
  padding: 12px 24px;
  margin-left: 10px;
}

.botoes {
    display: flex;       /* deixa os botões lado a lado */
    gap: 10px;           /* espaçamento entre eles */
}

.like-button, .deslike-button, .share-button, .download-button {
    display: flex;          /* coloca imagem e texto lado a lado */
    align-items: center;    /* centraliza verticalmente */
    gap: 5px;               /* espaçamento entre imagem e texto */
    padding: 5px 10px;      /* espaço interno do botão */
    border: none;           /* remove a borda padrão */
    background-color: #FFF; /* cor de fundo do botão */
    cursor: pointer;        /* muda o cursor ao passar por cima */
}

.botoes .info {
    margin: 0;              /* remove margem padrão do <p> */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;       /* SemiBold */
    font-style: normal;     /* não existe 'SemiBold' aqui */
    font-size: 14px;
    line-height: 1;         /* equivalente a 100% */
    letter-spacing: 0;
}

